@model IEnumerable<FitnessForLife.Models.Appointment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="start">Available Appointments</h2>
<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                Branch
            </th>
            <th>
                Consultant
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td>
                    @Html.DisplayFor(modelItem => item.Branch1.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consultant1.Full_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    <button class="btn btn-default">
                        @Html.ActionLink("Book", "Book", new { id = item.Id }, new { @class = "text-white" })
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".table").DataTable();
        })
    </script>
    @if (ViewBag.BookingMessage != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.BookingMessage");
            };
        </script>
    }
}
