@model IEnumerable<FitnessForLife.Models.Appointment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="start">Appointments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Branch
        </th>
        <th>
            Consultant
        </th>
        <th>
            Customer
        </th>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Branch1.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consultant1.Full_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.First_Name)
                @Html.DisplayFor(modelItem => item.User.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>
