@model IEnumerable<FitnessForLife.Models.Branch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="start">Our Branches</h2>
<div id="map" style="height:500px"></div>
<br />
<button class="btn btn-default">
    @Html.ActionLink("Create New", "Create", null, new { @class = "text-white" })
</button>
<br />
<br />
<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                Suburb
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="location table-light">
                <td class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="address">
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
    <script>
        $(document).ready(function () {
            $(".table").DataTable({
                "language": {
                    "emptyTable": "No branches added."
                }
            });
        })
    </script>
}
